@model List<Chef>


<div class="title">
    <h1><a href="/chefs">Chefs</a> | <a href="/dishes">Dishes</a></h1>
</div>
    <h2>Check out our roster of Chefs! </h2>
    <div>
    <a href="/chef/new">Add a Chef</a>
</div>



<table class="table table-striped table-bordered">
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th># of Dishes</th>
    </thead>
    <tbody>
        @if (ViewBag.AllChefs != null)
        {
            @foreach(var c in ViewBag.AllChefs)
            {
                <tr>
                    <td>@c.FirstName @c.LastName</td>
                    <td>@c.DateofBirth</td>
                    <td>@c.CreatedDishes.Count</td>
                </tr>
            }
        }
    </tbody>
</table>










@* @foreach (Dish dish in Model)
{
    <div class="dishes">
        <a asp-action="ViewDish"asp-route-dishId="@dish.DishId">@dish.Name</a>
        <div class="by">
            <p>By</p>
        </div>
        <p class="card-text">@dish.Chef</p>
    </div>
    
}

<div>
    <a href="/dishes/new">Add a Dish</a>
</div> *@