@model Association




<h1>@ViewBag.Product.Name</h1>

<div class="left">
    <h2>Categories:</h2>
    <ul>
            @foreach (Association c in ViewBag.Product.item)
            {
                <li>@c.Category.Name</li>
            }
    </ul>
</div>
<form class="right" asp-action="AddCategory" asp-controller="Product" asp-route-prodID= "@ViewBag.SingleProduct.ProductId" method="POST">
    <h3>Add Category:</h3>
    <div class="mb-3">
        <select asp-for="CategoryId">
        @if (ViewBag.CatNoAssoc != null)
        {
            @foreach (Category c in ViewBag.CatNoAssoc)
            {
                <option value="@c.CategoryId">@c.Name</option>
            }
        }
        </select>
    </div>
    <div class="mb-3">
        <input value="Add" type="submit">
    </div>
</form>